center
	.panel.panel-primary(style='max-width: 1000px;')
		//.panel-heading Futur Karibou
		.panel-body
			h1(style="text-align: center;")
				| Karibou v3
				span(style="margin: 20px;")
				img(src="/images/k3.png", alt="Karibou v3")
			.col-xs-2
			.col-xs-8(style="margin-bottom: 20px;")
				hr
			.col-xs-2
			div.col-xs-12(style="text-align: left;")
				p.
					<h3>Ici vous trouverez :</h3>
				ul
					li Des trucs
					li D'autres trucs

				br
				br
				
				h3 Bug report
				p
					| Si vous rencontrez des bugs, veuillez envoyer un mail à &#8239;
					a(href="mailto:telnetz@googlegroups.com") telnetz@googlegroups.com

				h3 Auteur
				p Jean-Baptiste Braun et Thibault Ballier