
.col-md-3
.col-md-6.col-xs-12
	.panel.panel-danger
		.panel-heading
			h1(style='text-align: center;') Vous n'êtes pas connecté

		.panel-body
			p
				| Vous devez être connecté pour avoir accès à cette section.
				br
				| Veuillez utiliser le champ en haut à droite et rentrer vos identifiants de connexion.
				br
				| Si votre identifiants ne fonctionne pas, veuillez contacter le club telnet.

